/* OVERRIDES FOR ALL FOUNDATION STYLES */


/* ==================================================================================
   GLOBAL STYLE(s)
   ================================================================================== */
    
/* ---- psd page width = 1400px 87.5em ---- */
/* ---- grid width = 1185px 74.063em 84.642857142857% (1185px / 1400px) ---- */
/* ---- gutter width = 45px 2.8125em ---- */

*, *:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
html, body {height: 100%; background-color: #ffffff;}
body {
    font-family: "din", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222222;
}
#to-top {
    z-index: 99;
    position: fixed;
    bottom: 2em;
    right: 1em;
    display: none;
    width: 2.25em;
    height: 2.25em;
    background: transparent url(../img/global/to-top.png) center center no-repeat;		
    background-image: -webkit-linear-gradient(transparent, transparent), url(../img/global/to-top.svg);
    background-image: linear-gradient(transparent, transparent), url(../img/global/to-top.svg);
}
a {
    -webkit-backface-visibility: hidden; /*prevents safari flicker*/
    -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
/*a {
    color: #003366; 
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 0 0 .1em 0;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
a:hover {color: #003366; border-bottom: 1px solid #003366;}*/
ul li a {
    color: #00acee;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding: 0 0 .1em 0; /* for underline */
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden; /*prevents safari flicker*/
    -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
ul li a:hover {color: #003366; border-bottom: 1px solid #003366; /* red */}
/* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
}



/* ==================================================================================
   COLORS
   ================================================================================== */

.brand-color {color: #003366;} /* dark blue */
.brand-accent {color: #00acee;} /* light blue */
.base-color {color: #222222;} /* black */
.white {color: #ffffff;}
.medium-white {color: #f0f1f0;}
.dark-white {color: #e3e5e4;}
.medium-light-gray {color: #73777a;}
.medium-gray {color: #878b8f;}
.dark-gray {color: #343841;}



/* ==================================================================================
   GRID
   ================================================================================== */

/* ROW HORIZONTAL SPACERS
   ======================== */
/*.row {padding: 0 1em;}*/
.no-pad {padding: 0;}

/* ROW VERTICAL SPACERS
   ======================== */
/* ---- base (all) ---- */
.xxtra-full-top {margin-top: 6.25em; /* 100px */}
.xxtra-full-btm {margin-bottom: 6.25em; /* 100px */}
.xxtra-full-top-pad {padding-top: 6.25em; /* 100px */}
.xxtra-full-btm-pad {padding-bottom: 6.25em; /* 100px */}
.xtra-full-top {margin-top: 3.125em; /* 50px */}
.xtra-full-btm {margin-bottom: 3.125em; /* 50px */}
.xtra-full-top-pad {padding-top: 3.125em; /* 50px */}
.xtra-full-btm-pad {padding-bottom: 3.125em; /* 50px */}
.full-top {margin-top: 2.34375em; /* 37.5px */}
.full-btm {margin-bottom: 2.34375em; /* 37.5px */}
.full-top-pad {padding-top: 2.34375em; /* 37.5px */}
.full-btm-pad {padding-bottom: 2.34375em; /* 37.5px */}
.half-top {margin-top: 1.5625em; /* 25px */}
.half-btm-pad {padding-bottom: 1.5625em; /* 25px */}
.half-top-pad {padding-top: 1.5625em; /* 25px */}
.half-btm {margin-bottom: 1.5625em; /* 25px */}
.quarter-top {margin-top: 0.0625em; /* 12.5px */}
.quarter-btm {margin-bottom: 0.0625em; /* 12.5px */}
.quarter-top-pad {padding-top: 0.0625em; /* 12.5px */}
.quarter-btm-pad {padding-bottom: 0.0625em; /* 12.5px */}
.eighth-top {margin-top: 0.390625em; /* 6.25px */}
.eighth-btm {margin-bottom: 0.390625em; /* 6.25px */}
.eighth-top-pad {margin-top: 0.390625em; /* 6.25px */}
.eighth-btm-pad {margin-bottom: 0.390625em; /* 6.25px */}
.no-top {margin-top: 0em;}
.no-btm {margin-bottom: 0em;}
.neg-top-sm {margin-top: -1em;}
.neg-btm-sm {margin-bottom: -1em;}
.neg-top {margin-top: -2em;}
.neg-btm {margin-bottom: -2.5em;}
/* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
    .xtra-full-top {margin-top: 6.25em; /* 100px */}
    .xtra-full-btm {margin-bottom: 6.25em; /* 100px */}
    .full-top {margin-top: 4.6875em; /* 75px */}
    .full-btm {margin-bottom: 4.6875em; /* 75px */}
    .half-top {margin-top: 3.125em; /* 50px */}
    /*.half-btm {margin-bottom: 3.125em; /* 50px */}*/
    .quarter-top {margin-top: 1.5625em /* 25px */}
    .quarter-btm {margin-bottom: 1.5625em /* 25px */}
}



/* ==================================================================================
   TYPE
   ================================================================================== */

/* ---- base (all) ---- */
p {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
    font-family: "din", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222222;
}
p a {
    color: #003366;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding: 0 0 .1em 0; /* for underline */
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden; /*prevents safari flicker*/
    -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
p a:hover {color: #003366; border-bottom: 1px solid #003366; /* red */}
.p-small {font-size: 1em; line-height: 1;}
h1 {
    text-align: center;
    font-size: 1.625rem; /* 26px */
    line-height: 1;
    font-family: "din-medium", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    background-color: #003366;
    padding: 3% 4%;
    margin-bottom: .5em;
    position: relative;
}
.headline-thick-xlg {text-transform: uppercase; color: #003366; font-size: 2rem; line-height: 1.2; font-family: "din-medium", sans-serif; font-weight: normal; font-style: normal;}
.headline-thick-lg {font-size: 1.8rem; line-height: 1; padding: 0 0 .5rem 0; font-family: "din-medium", sans-serif; font-weight: normal; font-style: normal; }
.headline-thick-md {font-size: 1rem; font-family: "din-medium", sans-serif; font-weight: normal; font-style: normal; }
.headline-thin-lg {font-size: 1rem; line-height: 1;} /* increases with larger screen sizes */
.headline-thin-md {font-size: 1rem; line-height: 1;} /* increases with larger screen sizes */
.headline-thin-sm {font-size: 1rem; line-height: 1;}
.headline-thick-xlg a,
.headline-thick-lg a,
.headline-thick-md a,
.headline-thin-lg a,
.headline-thin-md a,
.headline-thin-sm a {
    color: #003366;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding: 0 0 .1em 0; /* for underline */
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden; /*prevents safari flicker*/
    -webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;
}
.headline-thick-xlg a:hover,
.headline-thick-lg a:hover,
.headline-thick-md a:hover,
.headline-thin-lg a:hover,
.headline-thin-md a:hover,
.headline-thin-sm a:hover {color: #003366; border-bottom: 1px solid #003366; /* red */}
 /* ---- 640 ( + ) ---- */
@media screen and (min-width: 40em){
    h1 {text-align: left; font-size: 3.4375rem; /* 55px */ float: left;}
}
/* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
    .headline-thick-xlg {}
    .headline-thick-lg {}
    .headline-thick-md {font-size: 1.3125rem; /* 21px */}
    .headline-thin-lg {font-size: 1.625rem; /* 26px */}
    .headline-thin-md {font-size: 1.3125rem; /* 21px */}
    .headline-thin-sm {font-size: 1.125rem; /* 18px */}
}
/* Din Web Font */
@font-face {
    font-family: 'din';
    src: url('../fonts/din-web/DINWeb.eot');
    src: url('../fonts/din-web/DINWeb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-web/DINWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-light';
    src: url('../fonts/din-web/DINWeb-Light.eot');
    src: url('../fonts/din-web/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-web/DINWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-medium';
    src: url('../fonts/din-web/DINWeb-Medium.eot');
    src: url('../fonts/din-web/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-web/DINWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('../fonts/din-web/DINWeb-Bold.eot');
    src: url('../fonts/din-web/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-web/DINWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Stratum1 Web Font */
@font-face {
    font-family: 'Stratum1WebBold';
    src: url('../fonts/stratum1/Stratum1WebBold.eot');
    src: url('../fonts/stratum1/Stratum1WebBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stratum1/Stratum1WebBold.eot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stratum1WebMedium';
    src: url('../fonts/stratum1/Stratum1WebMedium.eot');
    src: url('../fonts/stratum1/Stratum1WebMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stratum1/Stratum1WebMedium.eot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* ==================================================================================
   BUTTON(s)
   ================================================================================== */
/* ---- base (all) ---- */ 
button, .button {
    font-size: 1.125rem; /* 18px */
    background-color: #003366;
    border: 1px solid #003366;
    color: #FFFFFF;
    font-family: "din-medium", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    padding: 1rem 4rem 1.0625rem 4rem;
}
button:hover, button:focus, .button:hover, .button:focus {color: #003366; background-color: #ffffff; border: 1px solid #003366;}
/* BUTTON 1 (carousel CTA)
   ======================== */ 
.btn-1 { /* WordPress database slows down button timing in relation to the text. Originally 1s. */
	-webkit-animation-duration: 1s;-moz-animation-duration: 1s;-ms-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-delay: 1s;-moz-animation-delay: 1s;-ms-animation-delay: 1s;-o-animation-delay: 1s;animation-delay: 1s;
}



/* ================================================================================
   HEADER
   ================================================================================ */

/* LOGO
   ======================== */
/* ---- base (all) ---- */  
.logo {
    background-size: 100% 100%;
    width: 9.6875em; /* 155 */
    height: 2.1875em; /* 35 */
    display: block;
    position: relative;
    text-align: center;
    margin: 0.9375em 0 0 0.9375em;
}
.logo-footer {
    background-size: 100% 100%;
    width: 11.25em; /* 180px */
    height: 1.9375em; /* 31px */ 
    display: block;
    position: relative;
    float: left;
}
/* ---- 480 ( + ) ---- */
@media screen and (min-width: 30em){
    .logo {
       width: 14.75em; /* 236px */
       height: 2.5em; /* 40px */
    }
}
@media screen and (min-width: 64.0625em){
    .logo-footer {
       width: 9.0625em; /* 145px */
       height: 1.25em; /* 20px */
    }
}
@media screen and (min-width: 68.125em){
     .logo-footer {
       width: 11.25em; /* 180px */
       height: 1.9375em; /* 31px */ 
    }
}



/* ================================================================================
   NAVIGATION
   ================================================================================ */

/* ---- base (mobile only) ---- */
.hybrid-bar .tab-bar {background-color: #ffffff; margin-bottom: .75em;} /* needed for logo and navigation on same line in desktop */
.hybrid-bar .left-off-canvas-menu,
.hybrid-bar .right-off-canvas-menu {background: #1e2f3b;}
.hybrid-bar .title-area {float: none; text-align: center;}
.hybrid-bar .menu-icon { /* controls the link area */
    /*text-indent: 2.1875rem;*/
    border: 0;
    width: 4rem;
    height: 2rem;
    display: block;
    padding: 0;
    color: #222222;
    position: relative;
    /*transform: translate3d(0, 0, 0);*/
}
.hybrid-bar .menu-icon span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    /*margin-top: -0.5rem;*/
    left: 1.25rem;
    box-shadow: 0 0 0 1px #222222, 0 9px 0 1px #222222, 0 18px 0 1px #222222;
    width: 2rem; 
}
.hybrid-bar .menu-icon span:hover:after {
    box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}
.hybrid-bar .left-small,
.hybrid-bar .right-small {border: 0; width: 4rem; height: 4rem;}
.hybrid-bar .off-canvas-list {
    font-size: 1rem; /* 16px */
    font-family: "din-medium", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    color: #ffffff;
}
ul.off-canvas-list li a:hover {color: #ffffff; background: #00acee;} /* hover text & background color */
ul.off-canvas-list li a {
    padding: 1.5em 0 1.5em 1.75em;
    color: #ffffff; /* text color */
    border-bottom: 1px solid #000000; /* border color */
}
.move-right .exit-off-canvas,
.move-left .exit-off-canvas {
    background: none; /* disables white overlay */
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.1), 4px 0 4px rgba(0, 0, 0, 0.1); /* softer shadowing */
}
.nav-icon {padding: 0 .5em 0 0;}
.nav-text {}



/* ================================================================================
   NAVIGATION OVERLAY
   ================================================================================ */
    .overlay {
    	position:fixed;
    	width:100%;
    	height:100%;
    	top:0;
    	left:0;
    	background:rgba(153,204,51,0.9);
    }
    /* Overlay closing cross */
    .overlay .overlay-close {
    	width:80px;
    	height:80px;
    	position:absolute;
    	right:20px;
    	top:20px;
    	overflow:hidden;
    	border:none;
    	background:url(../img/global/cross.png) no-repeat center center;
    	text-indent:200%;
    	color:transparent;
    	outline:none;
    	z-index:100;
    }
    /* Menu style */
    .overlay nav {
    	text-align: center;
    	position: relative;
    	top: 50%;
    	height: 60%; 
    	font-size: 3.375rem;
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    }
    .overlay ul {
    	list-style:none;
    	padding:0;
    	margin:0 auto;
    	display:inline-block;
    	height:100%;
    	position:relative;
    }
    .overlay ul li {
    	display: block;
    	height: 20%;
    	height: calc(100% / 5);
    	min-height: 3.375rem;
    }
    .overlay ul li a {
    	font-weight:300;
    	display:block;
    	color:#fff;
    	-webkit-transition:color .2s;
    	transition:color .2s;
    	text-decoration: none;
    }
    .overlay ul li a:hover,.overlay ul li a:focus {color:#e3fcb1;}
    /* Effects */
    .overlay-huge {
    	opacity:0;
    	visibility:hidden;
    	-webkit-transition:opacity 0.5s,visibility 0 .5s;
    	transition:opacity 0.5s,visibility 0 .5s;
    }
    .overlay-huge.open {
    	opacity:1;
    	visibility:visible;
    	-webkit-transition:opacity .5s;
    	transition:opacity .5s;
    }
    .overlay-huge nav {
    	-webkit-perspective:1200px;
    	perspective:1200px;
    }
    .overlay-huge nav ul {
    	opacity:.4;
    	-webkit-transform:translateY(-25%) rotateX(35deg);
    	transform:translateY(-25%) rotateX(35deg);
    	-webkit-transition:-webkit-transform 0.5s,opacity .5s;
    	transition:transform 0.5s,opacity .5s;
    }
    .overlay-huge.open nav ul {
    	opacity:1;
    	-webkit-transform:rotateX(0deg);
    	transform:rotateX(0deg);
    }
    .overlay-huge.close nav ul {
    	-webkit-transform:translateY(25%) rotateX(-35deg);
    	transform:translateY(25%) rotateX(-35deg);
    }
    @media screen and (max-height: 30.5em){
    .overlay nav {height: 70%; font-size: 2.125rem;}
    .overlay ul li {min-height: 2.125rem;}
    }



/* ================================================================================
   HERO
   ================================================================================ */
 
  /* HOME
   ======================== */
 /* ---- base (all) ---- */
 .hero-home {background: #00acee;}
 .hero-home ul {margin: 0;}
 .hero-home .columns {padding: 0 1.40625em 0 1.40625em;} /* SHAME re-enables foundation column padding */
 .hero-info-pad {padding: 7% 0 12% 0;} /* keeps text off of bxslider ellipses */
 .hero-headline {
     color: #ffffff;
     text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     font-size: 3.375rem; /* 54px */
     line-height: 1;
     font-family: "din-light", sans-serif;
     font-weight: normal;
     font-style: normal;
     padding-bottom: 1em; /* 25px */
     display: block;
     margin-top: .5em;
     margin-bottom: -.7em;
     -webkit-animation-duration: 1s;-moz-animation-duration: 1s;-ms-animation-duration: 1s;-o-animation-duration: 1s;animation-duration: 1s;
     -webkit-animation-delay: .5s;-moz-animation-delay: .5s;-ms-animation-delay: .5s;-o-animation-delay: .5s;animation-delay: .5s;
 }
 /* ---- 590 ( + ) ---- */
@media screen and (min-width: 36.875em){
    .hero-headline {font-size:; /* px */}
}
 /* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
    .hero-headline {font-size:; /* px */}
}
 /* ---- 1080 ( + ) ---- */
@media screen and (min-width: 67.5em){
    .hero-headline {font-size:; /* px */}
}



/* ================================================================================
   CONTENT
   ================================================================================ */

 /* MAIN
   ======================== */
 /* ---- base (all) ---- */  
 .main {
     margin: 0 auto;
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
}
 .main-headline {
     font-family: "din", sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size: 1.3125rem; /* 21px */
     color: #003366;
     line-height: 1.2;
     padding: 0;
     margin-bottom: 1em;
 }
 .main-headline-alt1 {color: #ffffff;}
 .main-text {
     font-size: 1rem; 
     line-height: 1.5;}
 .main-text-alt1 {color: #ffffff;}
 /* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
    .main-headline {font-size: 2.0625rem; /* 33px */ line-height: 1.2;}
    .main-text {font-size: 1.3125rem; /* 21px */}
}
 
 /* ICONS
   ======================== */
 /* ---- base (all) ---- */ 
 .icon-values {
     background-size: 100% 100%;
     width: 55px; 
     height 55px;
     display: inline;
     position: relative;
     text-align: center;
     margin: 0 0 .5em 0;
}
.icon-values-text {font-size: 1rem; padding: 0 0 2em 0;}
 /* ---- 640 (+) ---- */ 
@media screen and (min-width: 40em){
    .icon-values {
        display: inline; 
        float: left;
        margin: 0 1em 0 0;}
    .icon-copy {position: relative; padding: 0 0 0 40%;}
    .icon-values-text {float: left; position: relative;}
}
 /* ---- 768 (+) ---- */ 
@media screen and (min-width: 48em){
    .icon-copy {padding: 0 0 0 35%;}
}
 /* ---- 980 (+) ---- */ 
@media screen and (min-width: 61.25em){
    .icon-copy {padding: 0 0 0 25%;}
}

 /* NUMBERS
   ======================== */
 /* ---- base (all) ---- */ 
.number {                
    display:inline-block;
    margin: 0;
    border-radius: 50%;    
    background-color: #003366;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "din-medium", sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 8px 9px 5px 9px;    
} 
 /* ---- 480 (+) ---- */ 
@media screen and (min-width: 30em){
    .number {
        margin: 5px;
        font-size: 2rem;
        padding: 12px 16px 8px 16px; 
    }
}
 /* ---- 768 (+) ---- */ 
@media screen and (min-width: 48em){
    .number {
        margin: 10px;
        font-size: 3rem;
        padding: 13px 20px 10px 20px; 
    }
}

 /* TEAM
   ======================== */
 /* ---- base (all) ---- */ 
 ul.staff-text {list-style: none; margin: 0; padding: 0 0 2em 0;}
 ul.staff-text a {color: #003366;}
 ul.staff-text a:hover {color: #222222;}
 
  /* AFFILIATIONS
   ======================== */
 /* ---- base (all) ---- */  
.affiliations-img {margin: 0 0 3em 0; position: relative; border: solid 13px #ffffff;}

 /* REVEAL MODAL
   ======================== */
 /* ---- base (all) ---- */  
.reveal-modal-headline {
    font-size: 2.0625rem; /* 33 */
    font-family: "din-medium", sans-serif;
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase;
    color: #003366;
}
.reveal-modal .lead {line-height: 1.3;}

 /* FORM FIELDS
   ======================== */
/* ---- base (all) ---- */ 
select {font-family: "din", sans-serif;}
input.footer[type="email"] {
    color: #000000;
    font-size: 0.875rem !important; /* 14px */
    font-family: "din", sans-serif;
    font-weight: normal;
    font-style: normal;  
    padding: 1.6rem 2rem;
}
input.email-modal[type="email"] {
    font-size: 1.125rem !important; /* 18px */
    font-family: "din", sans-serif;
    font-weight: normal;
    font-style: normal;  
    padding: 1.6rem 2rem;
}
label.email-modal {font-size: 1.125rem !important; /* 18px */ color: #003366; padding: 0 0 .5em 0;}
/* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){} 

 /* FORM ERRORS
   ======================== */
/* ---- base (all) ---- */ 
span.error, small.error {background: #003366; color: #ffffff;}
label.error {color: #003366;}



/* ================================================================================
   FOOTER
   ================================================================================ */

/* ---- base (all) ---- */  
.footer {color: #003366; background: #ffffff; margin: 0 auto; padding: 3.75em 0 3.75em 0; font-size: 0.875rem; /* 14px */}
.footer .row {max-width: 74.063rem;} /* SHAME - overide of 1000px foundation setting somewhere */
.footer .row .row {margin: none;}
.footer a {color: #00acee; font-size: 0.875rem; /* 14px */ border: none;}
.footer a:hover {color: #003366; border: 0;}
/* ---- 768 ( + ) ---- */
@media screen and (min-width: 48em){
    .footer {padding: 6.25em 0;}
}



/* ================================================================================
   NOTES
   ================================================================================ */

/* SVG FIXES
   ======================== */  
/* 
HTML option
Swap out the element source with JavaScript if there's an error:
<img src="image.svg" onerror="this.onerror=null; this.src='image.png'">
 
CSS option 1 (EASIEST)
"Invisible Gradient" technique to support SVG with PNG fallback. It is CSS-only, does not require javascript and it works cross-browser. 
http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique  
http://pauginer.github.io/invisible-gradient-technique/    

CSS option 2
.no-inlinesvg and .inlinesvg (used with Modernizer from Boilerplate) before the selector with your background image to fix .png / .svg issues. 
http://www.gsdesign.com/blog/practical-svg-usage
*/

/* IE FIXES
   ======================== */  
/* 
APPEND \9; to the end of your style. For example ... \9; /* IE8 and below */