.box-forms {
	padding: 30px 0;
	text-align: center;
}

// 768px
@media all and (min-width: $screen-portrait) {
	.box-forms {
		padding: 45px 0;
		text-align: center;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.box-forms {
		text-align: right;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
}