$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;

$brand-primary        : rgb(0,51,102);
$brand-secondary      : rgb(0,172,238);

$p-font         : 'din', sans-serif;
$p-font-light   : 'din-light', sans-serif;
$p-font-medium  : 'din-medium', sans-serif;
$p-font-bold    : 'din-bold', sans-serif;

$s-font         : 'Stratum1WebMedium', sans-serif;
$s-font-bold    : 'Stratum1WebBold', sans-serif;

$gray-light     : #d6dee6;
$gray           : #666;
$dark-gray      : #222;