@font-face {
    font-family: 'din';
    src: url('fonts/din-web/DINWeb.eot');
    src: url('fonts/din-web/DINWeb.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-web/DINWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-light';
    src: url('fonts/din-web/DINWeb-Light.eot');
    src: url('fonts/din-web/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-web/DINWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-medium';
    src: url('fonts/din-web/DINWeb-Medium.eot');
    src: url('fonts/din-web/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-web/DINWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('fonts/din-web/DINWeb-Bold.eot');
    src: url('fonts/din-web/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-web/DINWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Stratum1 Web Font */
@font-face {
    font-family: 'Stratum1WebBold';
    src: url('fonts/stratum1/Stratum1WebBold.eot');
    src: url('fonts/stratum1/Stratum1WebBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/stratum1/Stratum1WebBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stratum1WebMedium';
    src: url('fonts/stratum1/Stratum1WebMedium.eot');
    src: url('fonts/stratum1/Stratum1WebMedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/stratum1/Stratum1WebMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}